html { 
  background: url("9.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
font-family: 'Raleway';
resize: both;

}
.top {
  height: 300px;
  margin:0;
  padding:0;

}
/*rsvp.html form*/
.form {
  height: 740px;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  opacity: 0.9;

}
/*index.html form*/
.form1 {
  height: 1000px;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  opacity: 0.9;
}
/*confirm.html form*/
.form2 {
  height: 300px;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  opacity: 0.9;
}

.info {
  padding: 10px;
}

h1, h2, p, a {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
  text-decoration: none;
}
li{
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
}

p.line {
  margin: 0px auto 20px auto;
  color: #999;
}

.form input {
  font-size: 15px;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;  
  background-color: #f8f8f8;
}

input:focus {
  outline: 0;
}
.select {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 80%;
  height: 35px;
}

.button button {
  display: inline-block;
  width: 400px;
}
button {
  color: #666;
  background-color: #ffbdc7;
  border: none;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: 200px;
  margin: 0px auto 40px auto;
  float:left;
}

button.accept {
   margin: 18px auto 40px auto;
  border-radius: 0px 0px 0px 10px;
  border-right: solid 1px #cc919a;
}

button.regret {
  border-radius: 0px 0px 10px 0px;
}

button:hover {
  background-color: #cc919a;
  transition: .5s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus {
  outline: 0;
}
button.submit{
   margin: 0px auto 0px 100px;
  border-radius:12px;
  border-right: solid 1px #cc919a;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 20px;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
table {
  border-collapse: collapse;
  width: 85%;
}
tr:hover {background-color: #f5f5f5;}
table, th, td {
  border: 1px solid black;
  margin: auto;
  top: 400px;
  text-align: center;
}
.map{

    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
iframe{
    width: 80%; 
    height: 80%:
    margin-left: auto;   
    margin-right: auto;
    border:none;
}
.map iframe,
.map object,
.map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
textarea{
  width: 80%;
  height: 100px;
  padding: 6px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 0px auto 20px 38px;
  font-size: 15px;
}
textarea::placeholder{
  font-size:15px;
}

